@model MVC.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Üye Kaydı</title>
    <style>
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        .error {
            color: red;
        }

        .renk {
            color: Blue;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Create", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3">
                    Kayıt
                </th>
            </tr>
            <tr>
                <td>
                    Kullanıcı Adı
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Adı
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Soyadı
                </td>
                <td>
                    @Html.TextBoxFor(m => m.LastName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Mail Adresi
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Parola
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Paroa Tekrarı
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                </td>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Kaydet" />
                </td>
                <td>
                    @Html.ActionLink("Giriş Ekranına Git", "Login", "Users")
                </td>
            </tr>
            <tr>
                <td colspan="3" class="renk ">@ViewBag.Mesaj</td>
            </tr>
        </table>
    }
</body>
</html>